*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: hsl(47, 88%, 63%);
    padding: 20px;
}

.blogPost{
    border: 1px solid gray;
    margin: 50px auto;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 8px 8px 15px 2px black ;
    background-color: hsl(0, 0%, 100%);
}

.blogPost img{
    border-radius: 8px;
}

.state{
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 8px;
    font-weight: bolder;
    border-radius: 5px;
}

img{
    display: block;
}

.blog{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.566);
    width: 300px;
}

/*POSITIONING*/

.blogPost{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.blog-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.name{
    font-weight: bold;
}

/*HOVER EFFECTS*/

.topic:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}


.attribution { 
    font-size: 11px;
    text-align: center;
    background-color: rgb(184, 177, 30);
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 16px;
}
.attribution a { 
    color: rgb(44, 42, 42);
    font-weight: 600;
 }
